---
import { getCollection } from "astro:content";
import Heading from "../ui/Heading.astro";
import SocialLinks from "../ui/SocialLinks.astro";
import Container from "../ui/Container.astro";
import WaveDivider from "../ui/WaveDivider.astro";
import ContactItems from "../ui/ContactItems.astro";
const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<WaveDivider selectedColor="fill-base-100" />
<section id="contact">
  <div class="bg-base-100 pt-1 pb-20">
    <Container>
      <Heading size="xl" class="text-center mb-20">{site.contactTitle}</Heading>
      <div class="flex flex-col md:flex-row justify-center md:justify-evenly">
        <div class="mb-5">
          <Heading size="lg" class="mb-5">{site.contactSubtitle}</Heading>
          <ContactItems contact={site.contact} />
        </div>
        <div>
          <Heading size="lg" class="mb-5">{site.socialsTitle}</Heading>
          <SocialLinks class="w-16 h-16" socials={site.socials} />
        </div>
      </div>
    </Container>
  </div>
</section>
